/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/app/private
/storage/debugbar
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/storage/logs
/bootstrap/cache/*.php
/bootstrap/ssr
/.phpunit.cache
/.phpunit.result.cache
/database/*.sqlite
/.env
/.env.backup
/.env.production
/.phpactor.json
/.idea
/.vscode
/.fleet
/.nova
/.zed
/*.log
